<div class="container-fluid mt-lg-auto row bg-light" id="about-me">
  <div class="row d-flex justify-content-center mt-5">
    <div class="col-md-4 text-center mt-5">
      <h3 id="about-title">Hi!</h3>
      <h3 id="about-title">My name is Stephano Palomino</h3>
    </div>
  </div>

  <div class="row d-flex justify-content-center">
    <div class="col-md-7 p-5 d-flex align-content-lg-start">
      <p id="about-text" class="text-justify">
        I am a Lawyer, Legaltech entrepreneur and a FullStack Developer with experience in developing legaltech products and building web applications.
        I love working on, investigating and developing solutions to make legal services much more human centric and more efficient.
        I have been able to adapt and learn new skills, even those that were out of my comfort zone, so I could get better as a Legaltech Entrepreneur,
        even as far as to go from been a Lawyer to learning how to code and becoming a Fullstack Developer. I love learning new programming languages,
        frameworks and tools, and working on backend and cloud infrastructures. I also enjoy discussing new startups ideas and ways to solve problems.
      </p>
    </div>
    <div class="col-md-5 p-5" id="img-about">
      <img src="../../../assets/img/IMG_5344.jpg" alt="Company" class="card-img-top mx-auto d-block" style="width:100%">
    </div>
  </div>
</div>
