<nav class="navbar navbar-expand-lg sticky-top" id="header">
  <div class="container-fluid">
    <a class="navbar-brand" (click)="ScrollIntoView('#home')" id="header-link">
      Home
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" (click)="collapsed = !collapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" [class.collapse]="collapsed" (window:resize)="collapsed = true">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" aria-current="page" (click)="ScrollIntoView('#about')" id="header-link">About Me</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" (click)="ScrollIntoView('#projects')" id="header-link">My Projects</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" (click)="ScrollIntoView('#contact')" id="header-link">Contact Me</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
