<div class="container-fluid mt-lg-auto row" id="contact-conatiner">
  <div class="row d-flex justify-content-center mt-5">
    <div class="col-md-5 text-center mt-5" >
      <h1 id="contact-title">Contact Me!</h1>
    </div>
  </div>
  <div class="row d-flex justify-content-center mb-5">
    <div class="col-md-3 text-center">
      <div class="card" style="width: 20rem; height: 24rem;">
        <div class="card-body">
          <h5 class="card-title">Contact Info</h5>
          <p id="contact-info" class="card-text">My email</p>
          <p class="card-text">stepalom22@gmail.com</p>
          <p id="contact-info" class="card-text">My phone number</p>
          <p class="card-text">Mobile: (+51)980159005</p>
          <p id="contact-info" class="card-text">Social media</p>
          <div class="col mb-4">
            <a href="https://github.com/Stepalom77" target="_blank" class="me-4 link-secondary"><i class="fa-brands fa-github"></i></a>
            <a href="https://www.instagram.com/stephanopalominomadueno/" class="me-4 link-secondary" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/stephanopalomino/" class="me-4 link-secondary" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
          </div>
            <a href="../../../assets/docs/Stephano_Palomino_Curriculum_vitae.pdf" class="btn btn-primary" target="_blank" download>Download My CV</a>
        </div>
      </div>
    </div>
  </div>
</div>
