<div class="container-fluid mt-lg-auto" id="projects-container">
  <div class="row my-5">
    <div class="col text-center mt-5">
      <h5 class="mt-2" id="projects-title">All my Project were constructed to test and learn different frameworks and tools</h5>
      <br>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-md-4 p-2">
        <div class="card" style="width: 22rem; height: 28rem;">
          <div class="card-body">
            <h5 class="card-title">Start Legal</h5>
            <p class="card-text">The new Web App of my Legaltech Startup, Start Legal, the project is still underway but you can watch the current state,
              I am using Angular and NestJS. The purpose of this project is to rebuilt the current Web App of my Start Legal with a much modern tech stack,
               which will make it easier to add more features and improve the product. P.S.: The repositories are private but I can show it if needed.</p>
               <p class="card-text">All the tools I am currently using: NestJS, Angular, Typescript, Bootstrap, SQL, Sendgrind, Railway and Vercel.</p>
              <a href="https://startlegalapp-production.up.railway.app/" class="btn btn-primary" target="_blank">Live Demo</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 p-2">
        <div class="card" style="width: 22rem; height: 34rem;">
          <div class="card-body">
            <h5 class="card-title">Youtube Clone</h5>
            <p class="card-text">Building a clone of the Youtube API with a simple Frontend to test the GET Requests. My purpose with this project was to
              perfect my skills with No SQL databases and Typescript by building a clone of the API of a webpage that I used everyday.</p>
               <p class="card-text">All the tools I used for the Backend: Typescript/NodeJS, Express, Mongoose, MongoDB, Railway, Postman and Auth0. </p>
               <p class="card-text"> All the tools I used for the Frontend: Typescript/NodeJS, React, TailwindCSS, Axios, Render and Auth0. </p>
               <div class="col d-flex justify-content-center">
                <a href="https://github.com/Stepalom77/youtube_clone" class="btn btn-primary" target="_blank">Backend Github Repository</a>
              <a href="https://documenter.getpostman.com/view/17975789/2s7YfSdD9A" class="btn btn-primary ms-2" target="_blank">Api Documentation</a>
               </div>
              <div class="col d-flex justify-content-center mt-2">
                <a href="https://github.com/Stepalom77/youtube_clone_app" class="btn btn-primary" target="_blank">Frontend Github Repository</a>
              <a href="https://youtube-clone-app.onrender.com/" class="btn btn-primary ms-2" target="_blank">Live Demo</a>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-md-4 p-2">
        <div class="card" style="width: 22rem; height: 27rem;">
          <div class="card-body">
            <h5 class="card-title">IMDB API</h5>
            <p class="card-text">Building a clone of the Internet Movie Database API with NodeJS, Express and Docker deployed in a Linux VM of
              Google Cloud Services. My purpose with this project was to learn how to use the VM of GCS and perfect my skills with Express, SQL and
              Sequelize by building a clone of the API of a webpage that I enjoy using.</p>
               <p class="card-text">All the tools I used: Javascript/NodeJS, Express, Sequelize, Postgres, Docker, Google Cloud Services, Ubuntu, Nginx and
                JWT.</p>
                <div class="col d-flex justify-content-center">
                  <a href="https://github.com/Stepalom77/IMDB-Clone-API" class="btn btn-primary" target="_blank">Github Repository</a>
                <a href="https://www.imdb-api-clone.xyz/api/v1/api-docs/" class="btn btn-primary ms-2" target="_blank">Api Documentation</a>
                 </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 p-2">
        <div class="card" style="width: 22rem; height: 28rem;">
          <div class="card-body">
            <h5 class="card-title">Best Buy API</h5>
            <p class="card-text">Building a clone of the Best Buy API with NodeJS, Express and Docker deployed in a Linux VM of Microsoft Azure.
              My purpose with this project was to perfect my skills with Devops tools, I wanted to know, how many tools I could use to deploy an API
              and in how many environment I could use Docker containers.</p>
              <p class="card-text">All the tools I used: Javascript/NodeJS, Express, Sequelize, MySQL, Docker, Microsoft Azure, Nginx, Ubuntu, JWT,
                Oauth2.</p>
              <div class="col d-flex justify-content-center">
                <a href="https://github.com/Stepalom77/Best_buy_api_clone" class="btn btn-primary" target="_blank">Github Repository</a>
              <a href="https://www.palomino-bestbuyclone-proyect.xyz/" class="btn btn-primary ms-2" target="_blank">Api Documentation</a>
               </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
