<div class="container-fluid mt-lg-auto row" id="home">
  <div class="row d-flex justify-content-center">
    <div class="col-md-5 text-center mt-5" >
      <img src="../../assets/img/yo.jpg" class="card-img-top mx-auto d-block" id="img-me" style="width:60%" alt="Stephano">
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-md-4 text-center">
      <h1 id="home-title">Stephano Carlo Palomino Madueño</h1>
      <h1 id="home-title">FullStack Developer</h1>
    </div>
  </div>
</div>

<div id="about">
  <app-about-me></app-about-me>
</div>

<div id="projects">
  <app-projects></app-projects>
</div>

<div id="contact">
  <app-contact-me></app-contact-me>
</div>

